
/* Importación de fuentes de google fonts */

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


.body {
  /*  height: 80vh;*/
    font-family: 'Noto Sans', sans-serif;
    background-image: url(images/contactopasta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.contact_form {
    width: 460px;
    height: fit-content;
    margin:  auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
}


input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffd700;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffd700;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    display: block;
    float: center;
}


button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ffd700;
    border-color: #f4d941;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}


button p {
    color: #fff;
}


span {
    color: #ffd700;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: #ffd700;
}

p {
    font-size: 14px;
    color: #0e0e0e;
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}

/* Acá agrego todo el css de la pagina "Sobre nosotros" */

.body-about-us {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

#fondo-titulo {
    background-color: #a8a8a8;
    color: aliceblue;
    background-size: cover;
    width: 100%;
    height: 50%;
    padding: 100px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    text-align: center;
}

.about-us,
.historia {
    color: aliceblue;
    letter-spacing: 0.9px;

}

.about-us {
    padding-bottom: 20px;
}

#fundador {

    height: auto;
}

.titulo-fundadores {
    text-align: center;
}

